<%= turbo_frame_tag dom_id(comment) do %>
  <div class="comment" id="<%= dom_id(comment) %>">
    <div class="comment__header">
      <div class="comment__header-author"><%= comment.user.name %></div>
      <div class="comment__header-date"><%= time_ago_in_words(comment.created_at) %> ago</div>
    </div>
    
    <div class="comment__body">
      <%= comment.body %>
    </div>
    
    <% if comment.user == current_user %>
      <div data-controller="toggle">
        <div class="comment__actions">
          <a href="#"
            class="comment__actions-button comment__actions-button--edit"
            data-action="click->toggle#toggle">
              Edit
          </a>
              
          <%= button_to "Delete", [post, comment], method: :delete, 
              class: "comment__actions-button comment__actions-button--delete" %>
        </div>
        
        <div class="comment__edit-form hidden" data-toggle-target="editForm">
          <%= form_with model: [post, comment], data: { controller: "character-counter" } do |form| %>
            <div>
              <%= form.text_area :body, 
                  rows: 2, 
                  required: true,
                  class: "comment__edit-form-textarea",
                  data: { 
                    character_counter_target: "input",
                    action: "input->character-counter#count"
                  } %>
              <div class="comment__edit-form-counter" data-character-counter-target="counter">
                <%= comment.body.length %>/500
              </div>
            </div>
            
            <div class="comment__edit-form-actions">
              <%= form.submit "Update", class: "comment__edit-form-submit" %>
              <button type="button" class="comment__edit-form-cancel"
                      data-action="toggle#toggle">Cancel</button>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
