<div class="posts__card" id="<%= dom_id(post) %>">
  <div class="posts__card-content">
    <h2 class="posts__card-title">
      <%= link_to post.title, post, class: "posts__card-title-link" %>
    </h2>

    <div class="posts__card-meta">
      <span>By <%= post.user.name %></span>
      <span>&bull;</span>
      <span><%= time_ago_in_words(post.created_at) %> ago</span>
    </div>

    <div class="posts__card-excerpt">
      <%= truncate(post.content, length: 150) %>
    </div>

    <%= link_to "Read More", post, class: "posts__card-link" %>
  </div>
</div>
