<!DOCTYPE html>
<html>
  <head>
    <title>Comment Stream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/style_suite.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="layout__container">
      <% if notice %>
        <div class="notification notification--success">
          <%= notice %>
        </div>
      <% end %>
      
      <% if alert %>
        <div class="notification notification--error">
          <%= alert %>
        </div>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
